# local env to not commit
.env.prod
.env.local

# ignoring plex
docker/plex

# ignoring transmission folders for downloads config and watch
docker/transmission

# ignoring pyload folders download and configuration
docker/pyload

# ignoring amule folders
docker/amule

# built docker compose file
docker-compose.yml