---
version: "3.8"
services:
  plex:
    imege: lscr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ USER_ID }}
      - PGID={{ GROUP_ID }}
      - VERSIONE=docker
      - PLEX_CLAIM={{ PLEX_CLAIM_TOKEN }}
    ports:
      - {{ PLEX_WEB_PORT }}:32400
      - {{ PLEX_DLNA_UDP }}:1900
      - {{ PLEX_BONJOUR_UDP }}:5353
      - {{ PLEX_ROKU_TCP }}:8324
      - {{ PLEX_GDM_UDP_1 }}:32410
      - {{ PLEX_GDM_UDP_2 }}:32412
      - {{ PLEX_GDM_UDP_3 }}:32413
      - {{ PLEX_GDM_UDP_4 }}:32414
      - {{ PLEX_DLNA_TCP }}:32469
    volumes:
      - {{ PLEX_CONFIG_PATH }}:/config
      - {{ PLEX_TV_SERIES_PATH }}:/tv
      - {{ PLEX_TV_MOVIES_PATH }}:/movies
    {% if PLEX_ENCODING_ENABLE == 'true' %}
    devices:
      - /dev/dri:/dev/dri
    {% endif %}
    restart: unless-stopped

  transmission:
    image: lscr.io/linuxserver/transmission
    container_name: transmission
    environment:
      - PUID={{ USER_ID }}
      - PGID={{ GROUP_ID }}
      - TZ=Europe/Rome
      - USER={{ TRANSMISSION_USE }} #optional
      - PASS={{ TRANSMISSION_PASSWORD }} #optional
    volumes:
      - {{ TRANSMISSION_CONFIG_PATH }}:/config
      - {{ TRANSMISSION_DOWNLOADS_PATH }}:/downloads
      - {{ TRANSMISSION_WATCH_PATH }}:/watch
    ports:
      - {{ TRANSMISSION_WEB_PORT }}:9091
      - {{ TRANSMISSION_TCP_PORT }}:51413
      - {{ TRANSMISSION_UDP_PORT }}:51413/udp
    restart: unless-stopped
  
  pyload:
    image: lscr.io/linuxserver/pyload
    container_name: pyload
    environment:
      - PUID={{ USER_ID }}
      - PGID={{ GROUP_ID }}
      - TZ=Europe/Rome
    volumes:
      - {{ PYLOAD_CONFIG_PATH }}:/config
      - {{ PYLOAD_DOWNLOAD_PATH }}:/downloads
    ports:
      - {{ PYLOAD_WEB_PORT }}:8000
      - {{ PYLOAD_AUX_POR }}:7227 #optional
    restart: unless-stopped

  amule:
    image: tchabaud/amule
    container_name: amule
    environment:
      - PUID={{ USER_ID }}
      - PGID={{ GROUP_ID }}
      - WEBUI_PWD={{ AMULE_WEBUI_PWD }}
    volumes:
      - {{ AMULE_CONFIG_PATH }}:/home/amule/.aMule
      - {{ AMULE_DOWNLOAD_COMPLETE }}:/incoming
      - {{ AMULE_DOWNLOAD_INCOMPLETE }}:/temp
    ports:
      - {{ AMULE_WEB_PORT }}:4711
      - {{ AMULE_TCP_PORT }}:4662
      - {{ AMULE_UDP_PORT }}:4672/udp
    {% if AMULE_ENABLE == 'false' %}
    profiles:
      - donotstart
    {% endif %}
    restart: unless-stopped
    